@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700;900&family=Noto+Sans:wght@400;700&display=swap');
:root
{
  --color-dark-matter-main: #280031;
  --color-dark-matter-5: #36213d;
  --color-primary: #fff;
}
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  font-family: 'Noto Sans', sans-serif;
  background: var(--color-dark-matter-main);
}
.wrapper
{
  max-width: 1280px;
  padding: 28px 40px;
  margin: 0 auto;
}
.product-list-container
{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
h1
{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-primary);
}
.product-list-container .product-list
{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 16px;
  margin-bottom: 24px;
}
.product-list-container .product-list .card
{
  max-width: 196px;
  height: 260px;
  background: var(--color-dark-matter-5);
  border-radius: 8px;
  cursor: pointer;
}
.product-list-container .product-list .card:hover
{
  transform: scale(0.98);
}
.product-list-container .product-list .card:hover img
{
  opacity: 0.5;
}
.product-list-container .product-list .card img
{
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}